.header-container {
    position: relative;
    max-width:1920px;
    height: 850px;
    margin: auto;
    background-color: #ffffff;
}

.header-img {
    width:100%;
    height: 850px;
    object-fit: cover;
}