.header-container {
    position: relative;
    max-width:1920px;
    height: 850px;
    margin: auto;
    background-color: #ca0f0f;
}

.header-img {
    width:100%;
    height: 850px;
    object-fit: cover;
}

.header-container:after {
    position: absolute;
    content: '';
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, black 40%,#926bf2);
    opacity: 25%;
}

.header-info {
    top: 50%;
    left: 10%;
    padding-left: 3rem;
    transform: translate(-10%,-50%);
    z-index: 1;
}

.header-info > .header-title > h1 {
    color: white;
    padding-right: 2rem;
    font-size: 4.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.header-info > .header-title > span {
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
}

.header-info > h3 {
    color: white;
    font-size: 1.3rem;
    padding-top: 0.5rem;
}

.header-info > a {
    font-weight: 500;
    color: white;
    display: inline-block;
    margin-right: 2rem;
    margin-top: 3rem;
    padding: 10px;
    background-color: #926bf2;
    border:1px solid black;
}