.nav-container {
    top: 0;
    z-index: 10;
    height: 70px;
    background-color: black;
}

.logo {
    color: white;
    overflow-y: hidden;
}

#logospan {
    color: #926bf2;
}

ul {
    color: white;
}


