.newMovies-container {
    position: relative;
    max-width: 1920px;
    height: auto;

    margin: auto;
    margin-top: 20rem;
    padding-bottom: 3rem;
    background-color: #926bf2;
}

/*Pseudos*/
.newMovies-container:before {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 150px;
    margin: auto;
    background-color: #926bf2;
    overflow: hidden;
    z-index: -1;

    transform: skewY(-4deg);
    transform-origin: 0;
}

#upcoming-title {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bolder;

    padding-top: 10px;
    padding-bottom: 20px;
}

.newMovies_poster-container {
    position: relative;
    width: 80%;
    margin: auto;
    padding-top: 150px;
    padding-bottom: 150px;

    row-gap: 50px;
}

.movie-posters{
    width: 400px;
    height: 700px;
    border-radius: 50px;
    background-color: white;
}