.popular-container {
    max-width: 1920px;
    height: 900px;

    margin: auto;
}

.popular-title {
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;

    text-transform: uppercase;
    font-weight: bolder;
    font-size: 2rem;
}

.slide-item {
    position: relative;
    width: 90%;
    height: 700px;
    margin: auto;
    border-radius: 50px;
}




