.poster {
    z-index: 0;
    width: 100%;
    height: 700px;
    border-radius: 50px;
    object-fit: cover;
}


/*Media Queries*/

/*Laptop*/
@media screen and (max-width: 1440px) {
    .poster{
        height:500px;
    }
}

/*Phone*/
@media screen and (max-width: 480px) {
    .poster{
        height: 350px;
    }
}