/*Slider Arrows*/
.slick-prev:before,
.slick-next:before {
    color: #523C89;
    font-size: 36px;
    opacity: .75;
}

.slick-prev
{
    left: -50px;
}
[dir='rtl'] .slick-prev
{
    right: -50px;
    left: auto;
}

.slick-next
{
    right: -50px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -50px;
}

.slide-item {
    position: relative;
    width: 90%;
    height: 700px;
    margin: auto;
    border-radius: 50px;
}

.slider-container {
    max-width: 1920px;
    height: 900px;

    margin: auto;
}

/*Media Queries*/

/*Laptop*/
@media screen and (max-width: 1366px) {
    .slide-item{
        height:500px;
    }

    .slider-container {
        height: 700px;
    }
}

/*Tablet*/
@media screen and (max-width: 768px) {
    .slide-item{
        width: 95%;
    }
}