/*Slider Arrows*/
.slick-prev:before,
.slick-next:before {
    color: #523C89;
    font-size: 36px;
    opacity: .75;
}

.slick-prev
{
    left: -50px;
}
[dir='rtl'] .slick-prev
{
    right: -50px;
    left: auto;
}

.slick-next
{
    right: -50px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -50px;
}