.newMovies-container {
    position: relative;
    max-width: 1920px;
    height: auto;

    margin: auto;
    margin-top: 10rem;
    margin-bottom: 10rem;
    padding-bottom: 3rem;
    background: linear-gradient(to bottom, #926bf2 30%, #523C89);
}
/*=============================================================*/
/*Pseudos*/
.newMovies-container:before {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 150px;
    margin: auto;
    background-color: #926bf2;
    overflow: hidden;
    z-index: -1;

    transform: skewY(-4deg);
    transform-origin: 0;
}

.newMovies-container:after {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 150px;
    margin: auto;
    background-color: #523C89;
    overflow: hidden;
    z-index: -1;

    transform: skewY(4deg);
    transform-origin: 65%;
}

/*==============================================================*/

.newMovies_poster-container {
    position: relative;
    width: 80%;
    margin: auto;
    padding-top: 150px;
    padding-bottom: 150px;

    row-gap: 50px;
}

.movie-posters{
    width: 400px;
    height: 700px;
    border-radius: 50px;
    background-color: white;
}


/*Media Queries*/

@media screen and (max-width: 1440px){
    .movie-posters {
        width:350px;
        height: 500px;
    }

    .newMovies_poster-container{
        padding-top: 70px;
    }
}

/*Tablet*/
@media screen and (max-width: 768px) {
    .newMovies_poster-container {
        justify-content: space-between;
    }

    .movie-posters {
        width: 300px;
    }

    .newMovie {
        width: 300px;
    }
}

/*Phone*/
@media screen and (max-width: 480px) {
    .newMovie {
        height: 350px;
        width: 250px;
    }
    .movie-posters {
        width: 250px;
        height: 350px;
    }

    .newMovies_poster-container{
        justify-content: center;
    }

    .newMovies_poster-container{
        padding-bottom: 1rem;
    }
}






