@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}

body {
    background-color: #141414;
    color: white;
}

.title {
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;

    text-transform: uppercase;
    font-weight: bolder;
    font-size: 2rem;
}

button:active  {
    outline: none;
}


/*Phone*/
@media screen and (max-width: 480px){
    .title{
        font-size: 1.5rem;
    }
}